body{
  background-color: #fff;
  margin: 6%;
}
p{
   font-size: 130%;
   line-height: 2;

}
.module{
  background: #6f0000;
  width: 100%;
  min-height: 150px;
  line-height: 75px;
  font-size: 2rem;
  font-weight: 200;
  margin: 5rem auto 0;
  color:white;
  box-shadow: 5px 10px #575151;

}

h2 {margin-top:50px;
  display:flex;
  background:#6f0000;
  color:white;
  box-shadow: 5px 10px #575151;
h2:before, h2:after {
  color:white;
  content:'';
  flex:1;
  border-bottom:groove 2px;
  margin:auto 0.25em

  /* box-shadow: 0 -1px ;/* ou 0 1px si border-style:ridge */ */

}

ul{
  text-align:justify;
}
